// Large Screen Max Width 1281px
@media (max-width:1281px){

    //Navbar
    .navbar-logo{
        width: 85%;
    }

    //Carousal
    .head-text-button{
        left: 8%;
    }
    
    //Accessories
    .title-accessories{
        width: 35%;
    }

    //contact
    .content-inside{
        width: 62%;
    }

    

}
 