//Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


//Importing Other SASS file
@import 'config';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;

}
html,body{
    // width: 100%;
    // height: 100%;
    // margin: 0;
    // padding: 0;
    // overflow-x: hidden;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

/*------------------------------Navbar --------------------------------------*/
.navbar{
    background-color: $navBG-color;
    z-index: 1;

    .navbar-logo{
        width: 90%;
    }

    .nav-item a{
        font-size: 15px;
        font-weight: 700;
        padding: 10px;
    }
    .nav-item hr{
        display: none;
        width: 70%;
        border-radius: 0px 0px 11px 11px;
        margin: 0 auto;
        padding-bottom: 0;
        border-bottom: 4px solid $orange-color;
        z-index: 1;
    }
    .nav-item:hover hr{
        display: block;   
    }


}
/*------------------------------Navbar END--------------------------------------*/

/*------------------------------Carousal --------------------------------------*/
.carousel {
    max-width:100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: zoomInOut 20s ease infinite;
    }

    .carousel-inner{
        width: 100%;
        height: 100%;   
    }

    .carousel-item{
        height: 100%;
        position: relative;
    }

    .carousel-item:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        width: 100%;
        background: $textAndoverley-color;
        opacity: 0.8;
        overflow: hidden;
      }

      .carousel-indicators{
        left: unset;
        bottom: unset;
        right: -6%;
        top: 50%;
        flex-direction: column;
        transform: translateY(-50%); 
    
        li{
            height: 12px;
            width: 12px;
            border: 2px solid $white;
            background-color: $white; 
            border-radius: 50%;
            margin-bottom: 9px;
        }  
    }
    .carousel-indicators .active {
        background-color: $orange-color;
    }
  }

/*---------------------------*/

.head-text-button{
    width:50%;
    height: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    left: 9%;
    color: $white;
}
.head-text-button h1{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito';
}

.head-text-button h2{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito';
}

.carousel-text{
    margin-top: 1.8rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 68px;
    overflow: hidden;
    font-family: 'Nunito';
    font-size: 1.2rem;
    font-weight:500;
    line-height: 2rem;
    letter-spacing: .1rem;
}

.carousel-btn{
    @include same-button($white,1rem,transparent);
    border: 2px solid $white;
}
.carousel-btn:hover{
    color:$orange-color;
    background-color: $white;
}
/*------------------------------Carousal END--------------------------------------*/

/*------------------------------About US --------------------------------------*/
#about-us{
    background-color: $sectionBg-color;
    width: 100%;
    height: auto;
.about-content{
    width: 100%;  
    padding-bottom: 30px; 
}
.tick-mark-img{
    margin-right: 10px;
}
.about-us-text{
    width: 100%;
    height: 162px;
    overflow: hidden;
    font-size: 0.9rem;
    color: $textAndoverley-color;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    text-align: justify;
}
.about-right {
    width: 430px;
    height: 100%;
    margin-left: auto; 
    position: relative;
}
.about-right::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 25%;
}
.about-right img{
    width: 100%;
    height: 100%;
}
.about-btn{
    @include same-button($white,1rem,$orange-color);
}
.about-btn:hover{
    
}
}
/*------------------------------About US END--------------------------------------*/
/*--------------------------------Accessories -------------------------------------------*/
#accessories{
    background-color: $sectionBg-color;
    width: 100%;
    height: auto;
}
.accessories-img{
    width: 99%;
    height: 200px;
    margin-bottom: 30px;
    border: 3px solid #EB6551;
    position: relative;
    z-index: 1;
    margin:15px auto;
    overflow: hidden;
}
.accessories-img::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 65%;
    z-index: 2;
}
.accessories-img-label{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 700;
    z-index: 3;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.accessories-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.accessories-img hr{
    display:none;
    width: 60%;
    border-radius: 0px 0px 11px 11px;
    margin: 0 auto;
    padding-bottom: 0;
    border-bottom: 4px solid $orange-color;
}
.accessories-img:hover hr{
    display: block;   
}
/*--------------------------------Accessories End-------------------------------------------*/


/*--------------------------------WHY CLIENT LIKE US -------------------------------------------*/
.like-us{
    width: 100%;
    height: 85vh;
    background-image: url(./images/whyLike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   
}
.like-us::after{
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 1;
   
}
.likeUs-box{
    position: relative;
    z-index: 2;
    padding: 2rem 0 ;
   
    h3{
        color: $white; 
    }
    .title-line{
        background-color: $white;
    }
    p{
        color: $white;
    }
}

.specialities{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;

    .iteams{
        flex-basis: 33.33%;
        height: 300px;
        margin-right: 15px; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .likeUs-logo{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border:2px solid $white;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease background-color;
        
        &:hover{
            background-color: $orange-color;
        }
    }
    .likeUs-large-text{
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.3rem;
        color: $white;

    }
    .like-us-paragraph{
        text-align: center;
        display: inline-block;
        height: 100px;
        color: $white;    
    }
}
/*--------------------------------WHY CLIENT LIKE US END-------------------------------------------*/
/*-------------------------------OUR TEAM----------------------------------------------*/
#our-team{
    background-color:$sectionBg-color;
    width: 100%;
    height: auto;
}
.our-team-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-team-content img{
    height: 100%;
    width: 100%;
}
.our-team-content-right{
    width: 90%;
    padding-left: 30px;
}
.our-team-head{
    font-size: 1.5rem;
    font-weight: bold;
    color: $orange-color;
}
.our-team-text{
    width: 100%;
    height: 211px;
    overflow: hidden;
    font-size: 14px;
    color: $textAndoverley-color;
    margin-top: 25px;
    margin-bottom: 55px;
    text-align: justify;
}
.joinUS-button{
    @include same-button($white,1rem,$orange-color);
}
.joinUS-button:hover{
    color: $white;
}
/*--------------------------------OUR TEAM-------------------------------------------*/
/*--------------------------------Suppliers & Partners------------------------------------------*/
#partners{
    background-color:$sectionBg-color;
    width: 100%;
    height: auto;
}
.partners-img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.partners-img img{
    max-width: 100%;
}
/*--------------------------------Suppliers & Partners END-------------------------------------------*/

/*--------------------------------Felcon Contact Start-----------------------------------------*/
#contact{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;    
}
.contactRow{
    height: 100%;
}
.same-contact{
    width: 50%; 
    height: 100%;      
}
.contact-light{
    background-color:$footer-color-light; 
   
}
.contact-dark{
    background-color:$footer-color-dark!important;
   
}
.content-inside{
   
    width: 57%;
    color: white;
    margin: 60px auto;
    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: white;
        }
    }
}
.white-logo{
    width: 100%;
    height: 122px;
}
.call-email {
    margin-top: 45px; 
}
.input-box{
    width:100%;
    height: 122px;
    background-color: $white;
    opacity: 80%;

    .form{
        padding:20px;
    }
    .label{
        font-size: 1rem;
        color: black;
    }
    .input-btn{
        display: flex;    
    }

    .form-group{
        width: 70%;
        height: 45px;
    
        .subscribe-input{
            width: 100%;
            height: 100%;
            background-color: rgba(95,55,55,0.18);
            border: none;
            border-radius: 5px 0px 0px 5px;
        }
        input::-webkit-input-placeholder{
            color:white;
            font-size: 1rem;
            padding: 15px;
           
        }
        input, select, textarea{
            color:white;
            font-size: 1rem;
            padding: 15px;
        }
    }
    .subscribe-btn{
        width: calc( 100% - 69%);
        height: 45px;
        background-color: $orange-color;
        opacity: 80%;
        color: white;
        font-weight: 700;
        border:none;
        border-radius: 0px 10px 10px 0px;
    }
}

.location{
    display: inline-block;
    color: white;
    font-size: 14px;
    padding-bottom:  15px;
    &:hover{
        color: white;
    }

    .location-text{
        margin: 0 7px;
    }
}

.social-links{
    margin-top: 25px;

    .social-link-item{
        margin-right: 20px;
    }
}


/*--------------------------------Felcon Contact End-------------------------------------------*/
/*--------------------------------Small Footer-------------------------------------------*/
#small-footer{
    display: none;
    width: 100%;
    background-color: #212020;    

    .container{
        display: flex;
    }

    ul{ 
        display: flex;
        color: white;
        padding: 20px 0;
        
       
        li{
            list-style: none;
            color: white;
            padding: 0 20px;
            font-size: 14px;
            font-family: 'poppins';
        }
    }

}



  

 

/*--------------------------------Small Footer-------------------------------------------*/


/*--------------------------------Responsive----------------------------------------------*/
@import 'largeScreen';
@import 'ipad';
@import 'tab';
@import 'mobile';
 @import 'iphoneX';
 @import 'iphone4';
 




